body{
    font-family: Arial, sans-serif;
    background: #ccc;
    margin: 0%;
}
.hero{
    background-image: url(/projeto-01/imagens/bg-3.jpg);
    height: 500px;
    background-position: right center;
    background-size: cover;
    padding-top: 1px;
   
}
.hero ul{
    list-style: none;
    display: flex;
    justify-content:end;
    gap:15px;
    padding-right: 25px;
}
.hero nav li{
    display: inline-block;
    width:100px;
    height:38px;
    border:1px solid white;
}
.hero nav a{
    background: rgba(0, 0, 0, 0.3);
    display: block;
    padding: 10px;
    padding-bottom: 13px;
    color:white;
    text-align: center;
    text-decoration: none;
    text-transform:uppercase;
    font-size: 14px;
}
.hero nav a:hover{
    background: rgba(0, 0, 0, 0.5);
}
.hero-content{
    color: white;
    text-align: center;
    position: relative;
    top:100px;
}
.hero-content h1{
    text-transform:uppercase;
    font-size:36px;
    text-shadow: 3px 3px 2px #333;
}
.hero-content p{
    margin: 0 auto;
    text-align: center;
    background: rgba(0,0,0, .8);
    display: inline-block;
    border-bottom: white solid;
    height: 30px;
    width: 300px;
    padding-top: 20px;    
}
.hero-content p:hover{
    background: rgba(0, 0, 0, 0.5);
}
.content-section{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 15px;
    width: 1000px;
    background-color:white;
    margin-left: 175px;
}
.card{
    margin-top: 15px;
}
.card p{
    text-transform: uppercase;
    font-size: 15px;
    background: black;
    height: 40px;
    margin-top:-4px;
    padding-top: 25px;
    text-align: center;
    color:white;
}
.content-header{
    background-color:rgb(0, 0, 0, 0.3);
    border-bottom: 1px black solid;
    width: 980px;
    height:50px;
}
.content-header h2{
    margin-top:8px;
    padding-top:8px;
    padding-left: 3px;
}
.rodape{
    background-color:rgba(0, 0, 0, 0.7);
    height:70px;
    text-align: center;
    margin-top:10px;
    padding-top:5px;
    color:white;
}
